<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help</title>
    <link rel="icon" type="image/x-icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{> header}}
        <b>{{message}}</b>
    </div>

    {{> footer}}
</body>

</html>